@import '../../styles/tools/mixins.scss';

.current-weather {
    &-title,
    &-content {
        @include font-family-lato;
    }

    &-title {
        font-size: 24px;
    }

    &-content {
        display: grid;
        row-gap: 8px;
    }

    svg {
        width: 175px;
        height: auto;
    }
}
