@import '../../styles/tools/mixins.scss';

.daily-weather-card {
    display: grid;
    row-gap: 8px;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    padding: 24px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &-date,
    &-degrees,
    &-weather-type {
        @include font-family-lato;
        text-transform: capitalize;
    }

    svg {
        width: 150px;
        height: 150px;
    }
}
