@import '../../styles/tools/mixins.scss';
@import '../../styles/tools/breakpoints.scss';

.search-city {
    display: grid;
    grid-auto-flow: row;
    gap: 8px;

    @include for-tablet-portrait-up {
        grid-auto-flow: column;
    }

    &-trigger {
        @include font-family-lato;
        border-radius: 8px;
        padding: 8px 12px;
        color: #fff;
        background-color: #03a9f4;
        transition: 0.3s;

        &:hover,
        &:focus {
            background-color: #81d4fa;
        }
    }
}
